.ImageVideo {
  background-color: rgb(250, 246, 246);
}

.ImageVideo .card {
  width: 100%;
  position: relative;
  image-rendering: pixelated;
}
.ImageVideo .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.ImageVideo .card-title {
  color: #4e4e4e;
  font-size: 20px;
}

.ImageVideo .card-date {
  border: 20px;
  background-color: #f1cf6a;
  width: 39%;
  height: 28px;
  position: absolute;
  top: 45%;
  left: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #6b6b6b;
  text-align: center;
}

.img-video {
  width: 100%;
  height: 143px;
}
