.products {
  border: 2px solid #08999c;
  position: relative;
}

.products .card {
  width: 100%;
  padding: 20px 30px 20px 30px;
}
.products .card img {
  margin: 0 auto;
}

.bg-product {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.33);
  opacity: 0;
}

.content-product {
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 10%;
}
.type-product {
  background-color: #08999c;
  width: 40%;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.name-product {
  background-color: #fbbb63;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-right-radius: 10px;
  color: #616161;
  font-weight: 500;
  font-size: 18px;
}

.products:hover .bg-product {
  opacity: 1;
  cursor: pointer;
  transition: all 300ms;
}
